@model MobileRecharge.Models.MobilePlanModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthsOfValidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthsOfValidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountToBePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountToBePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPlanCovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPlanCovered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
