@model IEnumerable<MobileRecharge.Models.RechargeModel>

@{
	ViewData["Title"] = "Recharge history";
}

<h1>Recharge</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MobilePlan.PlanName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MobilePlan.AmountToBePaid)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MobilePlan.PlanName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MobilePlan.AmountToBePaid)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				@if (User.IsInRole("admin"))
				{
					<td>
						<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
